- if @codes.empty?
  .row
    .col-sm-12
      .alert.alert-warning{ role: 'alert'}= t('no_search_results')

- @codes.each do |code|
  %article.row
    %strong.col-sm-1= code.code
    .col-sm-11
      = ' ' + code.text(locale)
      .pull-right
        %button.btn{ type: "button", title: t('take_over_hospital') }= t('take_over')
    %hr