- if @mdcs.empty? && @adrgs.empty? && @drgs.empty?
  .row
    .col-sm-12
      - if @query_codes.length > 1
        .alert.alert-warning{ role: 'alert'}= t('no_search_results')
- else
  - [@mdcs, @adrgs, @drgs].each do |codes|
    - codes.with_details.each do |code, details|
      - next if @exclude_codes.include? code.code
      %article.row.searchResultEntry{ id: 'code_' + code.code }
        %strong.col-sm-1= link_to(raw(highlight_text(code.code_display, details, :code)), system_code_path(@system, code, level: code.class), {target: 'blank', title: t('show_all_hospitals_from_service')})
        .col-sm-11
          = raw  highlight_code(code.text(locale), details, locale)
          .pull-right
            %button.btn.codeSelection{ type: "button", title: t('take_over_code'), 'data-code': code.code, 'data-code-display': code.code_display_long }= t('take_over')
        %hr