%h3= t('contact')
.row
  .col-lg-12
    %span= t('foph_long')
    %br
    Schwarzenburgstrasse 157
    %br
    CH-3003
    = t('bern')
    %br
    /Tel. +41 58 462 21 11
    %br
    %a{ href: 'mailto:KUV-DMS@bag.admin.ch'} info@bag.admin.ch
