%h3= t('contact')
.row
  .col-lg-12
    %span= t('foph_long')
    %br
    Schwarzenburgstrasse 157
    %br
    CH-3003
    = t('bern')
    %br
    %a{ href: 'mailto:KUV-DMS@bag.admin.ch'} info@bag.admin.ch

.row{ style: 'margin-top: 10px;'}
  .col-lg-12
    %button.button= link_to t('back'), :back
