= label 'hospital_search', t('hospital_search')
= text_field_tag('hospital_search', params['hospitalSearch'], { class: 'form-control', placeholder: t('hospital_search_placeholder'), 'data-search-url': system_search_all_path(@system)})
