%table.table.table-bordered.table-striped.text-right
  %caption= t('comparison_table')
  %thead
    %tr
      %th
      %th Sample key figure 1
      %th Sample key figure 2
      %th Sample key figure 3
      %th Sample key figure 4
  %tbody
    %tr
      %th.text-left Hospital 1
      %td 4'160
      %td 7'647
      %td 4'160
      %td 7'647
    %tr
      %th.text-left Hospital 2
      %td 4'160
      %td 7'647
      %td 4'160
      %td 7'647
  %tfoot
    %tr
      %th
      %th Sample key figure 1
      %th Sample key figure 2
      %th Sample key figure 3
      %th Sample key figure 4