%div.dropdown
  = label_tag t('drg_version')
  = select_tag('system', options_for_select(System.order(version: :desc).map { |s| [s.text(locale), system_path(s)]}, system_path(@system)), class: 'form-control')