= t('system_selection')
%div.dropdown
  #version-select
    %select#system{ name: 'system'}
      - System.order(version: :desc).each do |s|
        - url =  system_path(s) + "?codes=#{@codes_url_query}&hospitals=#{@hospitals_url_query}"
        %option.version-selection{ selected: @system == s ? 'selected' : nil, value: url, 'data-url': system_path(s),}= s.application_year.to_s + ' / ' + s.text(locale)
