// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.highlightSearchResults {
  color: red;
}

.alreadySelected {
  color: #b2b2b2;
}

#search-results mark {
  background-color: yellow;
}