// Place all the styles related to the systems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div[class*=col-] {
   margin-bottom: 0.1em;
}

.selection {
  padding: 3px;
  padding-left: 10px;
  margin: 3px;
  background-color: #F2F7F9;
  border-radius: 6px;
}

.removeCode, .removeHospital {
  margin-right: 10px;
  cursor: hand;
  cursor: pointer;
}